/* Reset some default brwoser styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Top bar*/

.top-bar{
    background-color: #dbaf5d;
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;

}

.contact-Location{
    color: #002060;
    display: flex;
    gap: 2rem;font-weight: bold;
    font-size: 1.2rem;
}

.signin-social{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

 .login-signup{
    display: flex;
    gap: 1.5rem;
    font-weight: bold;
    font: 1.2rem;
 }   

 .login-signup a{
    text-decoration:none;
    color: #002060;
 }

 .login-signup a:hover{
    color: #fff;
 }

.social-media{
    display: flex;
    gap: 1rem;
}

.social-media a{
    color: #002060;
    text-decoration: none;
}

.social-media a:hover {
    color: #fff;
}

.navbar{
    background-color: #002060;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}

.logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo h1{
    color: #fff;
}

.menu{
    display: flex;
    gap: 1rem;
}

.menu-item{
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
}

.menu a{
    text-decoration: none;
}

.menu-item:hover{
    background-color:#FFA500;
    color: #002060;
}
.hero{
    background: url('../images/bg.jpg') no-repeat center center/cover;
    padding: 4rem 1rem;
    text-align: center;
    color: #fff;
    position: relative;
    height: 80vh;
}

.hero-content{
    position: absolute;top: 0; left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    height: 80vh;
}

.hero-content h1{
    font-size: 4rem;
    margin-top: 7rem;
}

.hero-content p{
    font-size: 2rem;
    margin-top: 2rem;
}

.hero-content button{
    background-color: #dbaf5d;
    color: #002060;
    border: solid 1px #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: backgroung-color 0.3s ease;
    margin-top: 3rem;
    font-weight: bold;
}

.hero-content button:hover{
    background-color: #fff;
    color: #002060;
}

.section-header{
    text-align: center;
    margin-bottom:1rem;
    padding-top: 4rem;
    
}

.section-header h2 {
    font-size: 2rem;
    color: #002060;
    margin-bottom: 0.5rem;
}

.section-header p{
    color: #666;
    font-size: 1.2rem;
}

/* card container*/

.coffee-types{
 padding: 2rem;
 display: grid;
 align-items: center;
}
.card-container{ 
    display: flex;
    background-color:#fff;
    gap: 2rem;
    box-shadow: 0 2px 8px  rgba(0, 0, 0, 1);
    padding: 2rem 4rem;
    transform: transition 0.3s ease;
}  
.card{
    background-color: white;
    height: 22rem;
    width: 20rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
    
    
}
.card img{
    height: 15rem;
    width: 20rem;
    padding: 0.5rem;
}

.card:hover{
    transform: translateY(-10px);
}

.card-body h3{
    font-size: 1.3rem;
    color: #002060;
    text-align: center;
   
}

.card-body card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    top: 20rem;
    
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content:center;
    padding:1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    gap: 1rem;
    
}

.card-body button{
    color: #002060;
    border: solid 1px #002060;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.7rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
    background-color: #FFA500;
}
/* Footer styles*/

.Footer{
    background-color: #002060;
    color: #fff;
    text-align: center;
    padding: 1rem 3rem;
    margin: 0rem;
} 

.footer p{
    font-size: 1.2rem;
    margin: 0;
}